body * {
  box-sizing: border-box
}
a {
  text-decoration:none;
}
.App {
  text-align: center;
}

.leaflet-container {
  height:100%;
  width: 33vw;
}

.search-map-container {
  height:100%;
  width: 33vw;
}

.leaflet-popup-content-wrapper {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  border-radius: 0px;
}

.leaflet-popup-content {
  width: 200px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.leaflet-popup-content p {
  margin: 0px
}

.leaflet-popup-close-button{
  z-index: 402
}

.fa-star {
  color: orange;
}
.fa-star-half-alt {
  color: orange;
}

.dormantIcon {
  background:grey;
  color:grey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:50% 50% 50% 0%;
  width:50px;
  height:50px;
  transform: rotate(-45deg)
}
.activeIcon {
  background:#f50057;
  color:#f50057;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:50% 50% 50% 0%;
  width:50px;
  height:50px;
  transform: rotate(-45deg)
}
.pointerImage {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  transform: rotate(45deg);
  background-color: white;
}
.hidden {
  background-color: transparent;
  box-sizing: border-box;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
